<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ResolutionX" value="-1"/>
    <add key="ResolutionY" value="-1"/>
    <add key="LevelEditor" value="true"/>
    <add key="LevelToEdit" value="13"/>
    <add key="DepthBuffer" value="24"/>
    <add key="MusicVolume" value="60"/>
    <add key="SoundVolume" value="70"/>
    <add key="ScreenShotMaker" value="false"/>
    <add key="FrameCounter" value="true"/>
    <add key="InvertMouse" value="false"/>
    <add key="MouseSensitivity" value="30"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
